.dental{
    display: flex;
    
    
}
.image img{
    border: 2px solid white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 50px;
}
.from{
    margin-top: 50px;
    margin-left: 60px;
}
.from input{
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    
}
span{
    color: orangered;
}
button{
    width: 220px;
    padding: 3px;
    background-color: orangered;
    color: white;
    border:none;
    border-radius: 5px;
}